<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>登录页面</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- CSS Libraries -->
    <!--<link rel="stylesheet" href="../node_modules/bootstrap-social/bootstrap-social.css">-->

    <!-- Template CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/components.css}">
</head>

<body>
<div id="app">
    <section class="section">
        <!-- 取消设置的样式 -->
        <div class="container mt-5" style="margin-top: unset !important;">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                    <div class="login-brand">
                        <img th:src="@{/img/stisla-fill.svg}" alt="logo" width="100"
                             class="shadow-light rounded-circle">
                    </div>

                    <div class="card card-primary">
                        <div class="card-header">
                            <h4>Login</h4>
                        </div>
                        <div class="card-body">
                            <form method="POST" th:action="@{/manager/login}" class="needs-validation" novalidate="">
                                <!--th:if的意思是msg的值不为空时，才显示这个p标签-->
                                <div id="login-msg"
                                     style="position: fixed; top:26vh;left:50%;transform: translateX(-50%)"
                                     class="alert alert-danger" th:if="${not #strings.isEmpty(msg)}">
                                    <p th:text="${msg}"></p>
                                </div>
                                <div class="form-group">
                                    <label for="username">用户名</label>
                                    <input id="username" type="text" class="form-control"
                                           name="username" tabindex="1"
                                           required
                                           autofocus>
                                    <div class="invalid-feedback">
                                        请输入用户名！
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="d-block">
                                        <label for="password" class="control-label">密码</label>
                                        <div class="float-right">
                                            <a href="auth-forgot-password.html" class="text-small">
                                                忘记密码？
                                            </a>
                                        </div>
                                    </div>
                                    <input id="password" type="password" class="form-control" name="password"
                                           tabindex="2" required>
                                    <div class="invalid-feedback">
                                        请输入密码！
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="remember" class="custom-control-input" tabindex="3"
                                               id="remember-me">
                                        <label class="custom-control-label" for="remember-me">记住我</label>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block"
                                            tabindex="4">
                                        登录
                                    </button>
                                </div>
                            </form>
                            <div class="text-center mt-4 mb-3">
                                <div class="text-job text-muted">Login With Manager</div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-muted text-center">
                        Don't have an account? <a th:href="@{/templates/error/404.html}">Create One</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- General JS Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script th:src="@{/js/stisla.js}"></script>

<!-- JS Libraies -->

<!-- Template JS File -->
<script th:src="@{/js/scripts.js}"></script>
<script th:src="@{/js/custom.js}"></script>

<!-- Page Specific JS File -->
<script>
    window.onload = function () {
        setTimeout(function () {
            document.getElementById("login-msg").style.display = 'none';
        }, 1800);
    }
</script>
</body>

</html>